*{
  font-family: monospace;
}
main{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.emptySquare{
  min-width: 90px;
  height: 90px;
  margin: 12px;
  border: 2.1px solid rgba(60, 60, 60, 0.858);
  border-radius: 9px;
  box-shadow: 3px 3px 9px -3px rgba(128, 128, 128, 0.703);
  background-color: transparent;
}