* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  color: white;
  /* background-color: red; */
}

/* App-js style  */
.app--container {
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px 10px;
  width: 517px;
  height: 845px;
  background-color: rgba(138, 174, 225, 0.814);
}

.app--container--two {
  border-radius: 10px;
  margin: 20px auto;
  background-color: rgb(35, 46, 54);
  /* border: 1px solid white; */
  width: 317px;
  height: 765px;
  box-shadow: 5px 5px 5px rgba(31, 30, 30, 0.233);

}

/* header-js styling */
.header--container > img {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  width: 317px;
  height: 280px;
}


/* main-js style  */
.main--heading {
  font-size: 27px;
  text-align: center;
  margin: 15px 0px 0px 0px;
}

.main--h4--one {
  font-size: 15px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  color: rgb(255, 204, 0);
}

.main--span--two {
  display: block;
  text-align: center;
  font-size: 11px;
}

.main--content {
  line-height: 1.09em;
}

.btn--class {
  display: flex;
  padding: 20px 10px;
  justify-content: space-between;
}

.main--btn {
  width: 115px;
  height: 35px;
  border-radius: 6px;
  display: flex;
  border: none;
  outline: none;
  align-items: center;

}

.btn--email {
  background-color: white;
  color: black;
  display: flex;
  font-size: 16px;
  margin-left: 22px;
  padding: 5px 20px;


}

.btn--linkedin {
  background-color: rgb(35, 145, 255);
  color: white;
  display: flex;
  font-size: 16px;
  margin-right: 22px;
  padding: 5px 12px;



}

.email {
  height: 20px;
  margin: 3px;
}

.linkedin {
  height: 20px;
  margin: 3px;
}

.main--about--interest {
  width: 247px;
  height: 246px;
  padding: 10px;
  padding-bottom: 4px;
  margin: 5px auto;
  overflow: hidden;
  font-size: 12px;
  line-height: 1.08em;
}

.main--about--interest>p {
  font-size: 11px;
  text-align: justify;
  word-spacing: .05em;
}

.main--about--interest>h3 {
  margin-bottom: 3px;
  margin-top: 4px;
}


/* Footer-js styling */

.footer--container{
  width: 317px;
  height: 64px;
  background-color: rgb(0, 42, 105);
  padding: 3px;
  align-items: center;
  vertical-align:middle ;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  
  
}
.footer--image{
  height: 30px;
  filter: brightness(2);
  margin:10px;
}
.footer--items{
  margin: 2px 55px;
  
}