.App{
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(96, 54, 0);
  border-radius: 12px;
  user-select: none;
}
.y-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title{
  font-size: 36px;
}
.ans{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  font-size: 27px;
  border-radius: 50%;
}
.ans:hover{
  background-color: rgb(231, 231, 231);
}