.input-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 380px;
    margin: 25px auto;
    margin-bottom: 10px;
    padding: 20px;
}
.input-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-in:focus{
    border-color:rgb(200, 100, 237);
}
.right-in:focus{
    border-color:rgb(191, 100, 237);
}
.left-in, .right-in{
    margin: 0px 9px;
    padding: 6px;
    outline: none;
}
.gen-btn{
    margin: 17px 0px 0px 0px;
    width: 375px;
    padding: 10px;
    background-image: linear-gradient(to right, blueviolet, rgb(158, 1, 179));
    color: white;
    font-family: monospace;
    outline: none;
    border: none;
}
.gen-btn:hover{
    opacity: .8;
}